.venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.env
*.DS_Store
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Pytest cache
.pytest_cache/
# Coverage reports
.coverage
# Mypy cache
.mypy_cache/
# Pyre type checker
.pyre/
# Pytype cache
.pytype/
# Pylint cache
.pylint.d/